.Card {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Card > span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.Card > p {
  font-size: 25px;
  font-weight: 600;
}
